blog/logs/*.log
blog/config/config.local.php
blog/plugins/*/config/config.php
blog/install/
blog/tmp/
blog/uploads/images/
blog/templates/compiled/
blog/templates/cache/
blog/plugins/plugins.dat